.card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px 10px 20px 0;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: lightgrey;
}

.buttonContainer {
  margin-top: 10px;
}

.buttonContainer button {
  margin: 8px 5px;
  min-width: 60px;
  max-width: 100px;
  cursor: pointer;
}

.card textarea {
  margin-bottom: 10px;
}

.cardDate {
  font-size: 11px;
}

.card label {
  margin-bottom: 6px;
}
