.appContainer {
  display: flex;
}

.galleryContainer {
  padding: 20px;
}

.galleryContainer h4 {
  margin-top: 0px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 800px) {
  .appContainer {
    flex-direction: column;
  }

  .galleryContainer {
    padding-left: 0px;
  }

  .listContainer {
    flex-direction: column;
  }
}
